@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #F35C7A;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}